<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>loginHandler</servlet-name>
    <servlet-class>Controllers.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginHandler</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderconfirmed</servlet-name>
    <servlet-class>Controllers.OrderConfirmedHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderconfirmed</servlet-name>
    <url-pattern>/confirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourierApproval</servlet-name>
    <servlet-class>Controllers.CourierApprovalHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierApproval</servlet-name>
    <url-pattern>/approveCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourierApprovalConf</servlet-name>
    <servlet-class>Controllers.CourierApprovalConfHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierApprovalConf</servlet-name>
    <url-pattern>/approveCourierConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourierRejection</servlet-name>
    <servlet-class>Controllers.CourierRejectionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierRejection</servlet-name>
    <url-pattern>/rejectCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>Controllers.UserSearchHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/userSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFound</servlet-name>
    <servlet-class>Controllers.UserFoundHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFound</servlet-name>
    <url-pattern>/userFound</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerApproval</servlet-name>
    <servlet-class>Controllers.ManagerApprovalHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerApproval</servlet-name>
    <url-pattern>/approveManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerApprovalConf</servlet-name>
    <servlet-class>Controllers.ManagerApprovalConfHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerApprovalConf</servlet-name>
    <url-pattern>/approveManagerConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerRejection</servlet-name>
    <servlet-class>Controllers.ManagerRejectionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRejection</servlet-name>
    <url-pattern>/rejectManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeAdmin</servlet-name>
    <servlet-class>Controllers.MakeAdminHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAdmin</servlet-name>
    <url-pattern>/makeAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishApproval</servlet-name>
    <servlet-class>Controllers.DishApprovalHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishApproval</servlet-name>
    <url-pattern>/approveDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishApprovalConf</servlet-name>
    <servlet-class>Controllers.DishApprovalConfHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishApprovalConf</servlet-name>
    <url-pattern>/approveDishConf</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DishRejection</servlet-name>
    <servlet-class>Controllers.DishRejectionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishRejection</servlet-name>
    <url-pattern>/rejectDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishDeletion</servlet-name>
    <servlet-class>Controllers.DishDeletionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishDeletion</servlet-name>
    <url-pattern>/removeDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishAddition</servlet-name>
    <servlet-class>Controllers.DishAdditionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishAddition</servlet-name>
    <url-pattern>/dishRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterHandler</servlet-name>
    <servlet-class>Controllers.RegisterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHandler</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeHandler</servlet-name>
    <servlet-class>Controllers.HomeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeHandler</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestOrder</servlet-name>
    <servlet-class>Controllers.OrderFromRestaurantHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestOrder</servlet-name>
    <url-pattern>/orderFromRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderReview</servlet-name>
    <servlet-class>Controllers.OrderReviewHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReview</servlet-name>
    <url-pattern>/reviewOrd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDish</servlet-name>
    <servlet-class>Controllers.OrderDishHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDish</servlet-name>
    <url-pattern>/orderDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDishConf</servlet-name>
    <servlet-class>Controllers.OrderDishConfHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDishConf</servlet-name>
    <url-pattern>/orderDishConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderReviewConf</servlet-name>
    <servlet-class>Controllers.OrderReviewConfHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReviewConf</servlet-name>
    <url-pattern>/reviewOrdConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFriendRequest</servlet-name>
    <servlet-class>Controllers.SendRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendRequest</servlet-name>
    <url-pattern>/sendFRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmRequest</servlet-name>
    <servlet-class>Controllers.ConfirmRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRequest</servlet-name>
    <url-pattern>/confirmRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectRequest</servlet-name>
    <servlet-class>Controllers.RejectRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectRequest</servlet-name>
    <url-pattern>/rejectRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>Controllers.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingHandler</servlet-name>
    <servlet-class>Controllers.PendingHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingHandler</servlet-name>
    <url-pattern>/PendingPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestApproved</servlet-name>
    <servlet-class>Controllers.ConfirmRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestApproved</servlet-name>
    <url-pattern>/RequestApproved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestRejected</servlet-name>
    <servlet-class>Controllers.RejectRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestRejected</servlet-name>
    <url-pattern>/RequestRejected</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>Controllers.SignOutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <!-- error pages -->
  <error-page>
    <error-code>400</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
<!--  <error-page>-->
<!--    <error-code>404</error-code>-->
<!--    <location>/ErrorHandler</location>-->
<!--  </error-page>-->
  <error-page>
    <error-code>405</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>417</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>418</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>421</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>422</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>423</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>424</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>425</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>426</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>428</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>429</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>431</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>451</error-code>
    <location>/ErrorHandler</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>506</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>507</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>508</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>510</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>511</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <!-- error pages end -->
  <listener>
    <listener-class>Models.Initializer</listener-class>
  </listener>
</web-app>
